<?xml version="1.0">
<sdf version="1.4">
<model name="sonia_sub">
  <plugin name="libthruster" filename="libthruster.so" />
  <plugin name="libpose_publisher" filename="libpose_publisher.so"/>
  <static>0</static>
  <pose>0 0 0.5 0 0 0</pose> <!-- position du frame du modèle par rapport au frame du world -->
  <link name="sub">
    <inertial>
      <pose>0 0 0 0 0 0</pose> <!-- position du frame utilisé pour le lien par rapport à la position du frame du modèle -->
      <mass>43.69</mass>
      <inertia>
        <ixx>1.4528</ixx>
        <ixy>0.20083</ixy>
        <ixz>0.29446</ixz>
        <iyy>4.583</iyy>
        <iyz>-0.019119</iyz>
        <izz>4.4189</izz>
      </inertia>
    </inertial>
    <visual name="visual">
      <pose>0 0 0 0 0 3.14</pose> <!-- position du frame utilisé pour le visuel par rapport à la position du frame du modèle -->
      <geometry>
        <mesh>
         <uri>model://sonia_sub/meshes/base_link.STL</uri>
	    </mesh>
      </geometry>
    </visual>
  </link>
  <!-- add links for the motors, just a position -->
  <link name="motor_front_heading">
    <pose>0.6 0 0 0 0 0</pose>
  </link>
  <link name="motor_back_heading">
    <pose>-0.6 0 0 0 0 0</pose>
  </link>
  <link name="motor_front_depth">
    <pose>0.6 0 0 0 0 0</pose>
  </link>
  <link name="motor_back_depth">
    <pose>-0.6 0 0 0 0 0</pose>
  </link>
  <link name="motor_port">
    <pose>0 0.2 0 0 0 0</pose>
  </link>
  <link name="motor_starboard">
    <pose>0 -0.2 0 0 0 0</pose>
  </link>
  <!-- add joints for the motors, just a position -->
  <joint name="motor_front_heading_joint" type="fixed">
    <parent>sub</parent>
    <child>motor_front_heading</child>
  </joint>
  <joint name="motor_back_heading_joint" type="fixed">
    <parent>sub</parent>
    <child>motor_back_heading</child>
  </joint>
  <joint name="motor_front_depth_joint" type="fixed">
    <parent>sub</parent>
    <child>motor_front_depth</child>
  </joint>
  <joint name="motor_back_depth_joint" type="fixed">
    <parent>sub</parent>
    <child>motor_back_depth</child>
  </joint>
  <joint name="motor_port_joint" type="fixed">
    <parent>sub</parent>
    <child>motor_port</child>
  </joint>
  <joint name="motor_starboard_joint" type="fixed">
    <parent>sub</parent>
    <child>motor_starboard</child>
  </joint>
</model>
</sdf>
