<?xml version="1.0"?>

<model>
  <name>sonia_sub</name>
  <version>1.0</version>
  <sdf version="1.4">ASM_SONIA_2013.URDF</sdf>
  <sdf version="1.5">ASM_SONIA_2013.URDF</sdf>

  <author>
    <name>Thomas Fuhrmann</name>
    <email></email>
  </author>

  <description>
    Test d'un robot pour le club SONIA.
  </description>
</model>
